body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.bg-l{
    background-image: linear-gradient(to left, #D16BA5,#86A8E7,#5FFBF1);
    border-radius: 2px;
    color: white;
    padding: 0px 4px;
}

#main-header{
    background-image: url(images/svg-3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.head-info{
    font-size: 30px;
    font-weight: 700;
    
}
#design{
    color: red;
    
}
 
.head-infos{
    background-color: rgba(245, 222, 179, 0.514);
    border-radius: 20px;
    padding: 25px;
}
.text-co{
    color:black;
    font-weight: 400;
}
.get-str{
    background-color: #DA062C;
    color: white;
    border: none;
    outline: none;
    padding: 4px 6px;
    font-size: 18px;
    border-radius: 5px;
}
.hire-me{
    background-color: whitesmoke;
    color:black;
    border: none;
    outline: none;
    padding: 4px 6px;
    border-radius: 5px;
    font-size: 18px;
}
#hire-me{
    display: none;
}
#hireClose-icon{
    cursor: pointer;
    
}
.hire{
    background-color: azure;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 5px;
    width: 50%;
    padding: 8px;
}
#main{
    background-color: #E0E0E0;
    padding: 40px 0px;
    /* border-radius: 7px; */

}
.main-banner{
    background: #fff;
    border: 2px solid #cacaca;
    max-width: 350px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)), url(./images/cardbg-2.jpg);
    /* background-image: url(./images/card-bg.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fs-l{
   width: 100%;
   margin-bottom:8px ;
   margin-top: 8px;
   /* color: #DA062C; */
}
.padi{
    padding: 10px;
    border-radius: 35px;
    
}

#modal{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    /* right: 150px; */
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    display: none;

}
.offer{
    background-color: rgba(245, 222, 179, 0.521);
    padding: 15px;
    /* margin-top: 7px; */
}
.offer-info{
    text-align: center;
    font-size: 18px;
}
/* succes message */
#success-message{
    padding: 10px;
    background-color: darkorchid;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    right: 2px;
    display: none;
}
.failor-message{  
    padding: 10px;
    background-color:#DA062C;
    color: white;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    left: 2px;
    display: none;
}
.failor-message2{  
    padding: 10px;
    background-color:#DA062C;
    color: white;
    border-radius: 6px;

    display: none;
}
.suc-icon{
    font-size: 35px;
    text-align: center;

}
.flex{
    display: flex;
    justify-content: center;
    
}
.suc-info{
    font-size: 20px;
    margin-top: 2px;

}
.close-icon a{
    text-decoration: none;
    color: white;
    font-size:22px ;
    cursor: pointer;
}
/* starteducation */
#education{
    /* margin-top: 5px; */
    background-color: rgba(119, 136, 153, 0.418);
    overflow: hidden;
}
.edu{
    border: none;
    outline: none;
    padding: 2px 10px;
    color: white;
    background-color: #DA062C;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 50px;
    border-bottom: 3px solid white;
}
 .edu-2{
    border: none;
    outline: none;
    padding: 2px 10px;
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 50px; 
    transition: 3s ease-in-out; 
    
 }
 /* .edu-2:hover{
     border-bottom: 4px solid black;


 } */
 #educa{
     display: none;
 }
 /* start project */
 .project{
     background-color: lavender;
     /* margin-top: 5px; */
     overflow: hidden;
 }
 #parent{
    position: relative;

    overflow: hidden;
 }
 .card-button{
    background-color:white;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 1px 7px;
    font-size: 20px;
   
    margin-top: 5px;
 }
 
.project-1{
    background-color: rgba(119, 136, 153, 0.418);
    padding: 9px 0px;
    color:black;
    background-image: url(images/leaf-yellow.png);   
}
.project-2{
    background-color: rgba(119, 136, 153, 0.075);
    padding: 9px 0px;
    color:black;
    background-image: url(images/leaf-orange.png);   
    background-repeat: no-repeat;
}
 #parent:hover #child-but{
     display: block;
 }
 .small{
    font-size: 13px;
    color: red;
    font-weight: 600;
 }
 .project-3{
    background-color: rgba(119, 136, 153, 0.178);
    padding: 9px 0px;
    color:black;
    background-image: url(images/svg1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 #footer{
     background-color: #FAFAFA;
 }
 .footer-info{
     padding: 25px 0px;
 }
 .footer-hr{
    width: 50%;
    margin: 0 auto;
 }
 .footer-hr2{
    width: 30%;
    margin: 0 auto;
    margin-top: 5px;
    
 }
 .cards{
     box-shadow: 6px 6px 15px gray;
     border-radius: 10px;
     padding: 10px 0px;
     height: 170px;
 }
 .icons-f{
     color: #FC274D;
     font-size: 35px;
 }
 .form{
    box-shadow: 6px 6px 15px gray;
    padding: 10px;
    border-radius: 15px;
 }
 .form-inp{
     padding: 5px 0px;
     margin: 10px;
     border:2px solid gainsboro;
     border-radius: 9px;
     text-align: center;
     outline: none;
 }
 #inp-service{
     cursor: pointer;
     
 }
#accordionFlushExample{
    display: none;
}
 #form-but{
     border: none;
     outline: none;
     padding: 2px ;
     border-radius: 6px;
     color:black;
    background-color: rgba(119, 136, 153, 0.418);
     box-shadow: 2px 2px 4px gray;
 }
 .follw{
     background-color: #e6e6fab4;
     border-radius: 6px;
 }
 .follow-icon{
     background-color: white;
     height: 50px;
     width: 50px;
     padding: 6px;
     border-radius: 50%;
     box-shadow: 4px 2px 7px gray;
 }
 .fs{
     font-size: 36px;
     color: #0D8BF0;
 }
 .fs2{
     font-size: 33px;
     color: #FF0101;
 }
 .fs3{
     font-size: 40px;
     color: #0077B5;
 }
 #facebook{
     cursor: pointer;
 }
@media  (min-width:305px)and (max-width:640px) { 
    .cols{
        margin-top: 10px;
    
    }
    .head-info{
        /* margin-top: 10px; */
        font-size: 19px;
        font-weight: 300;        
    }
    .text-co{
        margin-top: 10px;
    }

    #modal{
        width: 100%;
    }
    .mt-2{
        text-align: center;
    }
    .smal-icon{
        display: block;
        margin: 6px 0px;
    }
    .fs-l{
    margin: 0 auto;
    
    }
    .bottom{
        display: inline-block;
       margin-bottom: 6px;
    }
    .get-str{
        
        margin-top: 6px;

    }
    .but-gro{
        display: flex;
        justify-content: space-between;
    }
    .edu{
        /* display: flex; */
        margin-left: 4px;
    
    }
    .edu-2{
        margin-left: 0px;
        margin-right: 4px;
    }
   
    

    .hire-me{
        margin-left: 5px;
    }   
    .hire{
        background-color: azure;
        border-radius: 10px;
        position: absolute;
        top: 50px;
        right: 5px;
        width: 100%;
        padding: 8px;
    }
    #form-but{
        border: none;
        outline: none;
        padding: 1px 0px;
        border-radius: 6px;
        color: white;
    }

}

